<div class="container-fluid">
    <div class="row">
        <div class="dashboard-container">
            <div class="dashboard-header">

            </div>
            <div class="dashboard-content">
                <h1>Welcome to GradeHub Dashboard</h1>
                <section class="grade-calculator">
                    <div class="grade-calculator-content">
                        <h2>The Grade Calculator</h2>
                        <p>📚 Track your grade average.</p>
                        <p>🎯 Predict your degree classification.</p>
                        <p>🎉 Decide on your modules with student reviews.</p>
                        <div class="input-fields">
                            <input type="text" placeholder="Your University / College"><br>
                            <input type="text" placeholder="Your Degree">
                        </div>
                        <br>
                        <button class="get-started-button">Get Started</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>