<div class="main-content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
          <h5>Welcome to GradeHub.</h5>
        </div>
        <div class="col-md-6">
          <div class="text-right mb-3">
            <a routerLink="/add-course" class="btn btn-success">
                <i class="material-icons">add</i> Add Course
            </a>              
          </div>
        </div>
      </div>
      
      <div class="row">
          <div class="col-md-4">
              <div class="card card-chart">
                <div class="card-header card-header-success" style="background-image: url('/assets/img/1.jpg'); background-size: cover;height: 170px;">
                   
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Fundamental Mathematics for Computing</h4>
                      <p class="card-category">
                         Semester 1</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> 3 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-warning" style="background-image: url('/assets/img/2.jpg'); background-size: cover;height: 170px;">
                    
                     
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Development of Enteprise Applications</h4>
                      <p class="card-category">Semester 2</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> 2 days ago
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-chart">
                  <div class="card-header card-header-danger" style="background-image: url('/assets/img/3.jpg'); background-size: cover;height: 170px;">
                  </div>
                  <div class="card-body">
                      <h4 class="card-title">Business Policies and Strategies</h4><br>
                      <p class="card-category">Semester 2</p>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">access_time</i> 2 days ago
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-secondary" style="background-image: url('/assets/img/4.jpg'); background-size: cover;height: 170px;">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Artificial Intelligence</h4><br>
                    <p class="card-category">
                     Semester 1</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i>4 minutes ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-primary" style="background-image: url('/assets/img/5.jpg'); background-size: cover;height: 170px;">
                  
                </div>
                <div class="card-body">
                    <h4 class="card-title">Advanced Database Management Systems</h4>
                    <p class="card-category">Semester 1</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i>4 days ago
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-chart">
                <div class="card-header card-header-light" style="background-image: url('/assets/img/6.jpg'); background-size: cover;height: 170px;">
                   
                </div>
                <div class="card-body">
                    <h4 class="card-title">Advanced Mathematics for Computing</h4>
                    <p class="card-category">Semester 2</p>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        <i class="material-icons">access_time</i> 2 days ago
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</div>
